/.vscode
/ARHAM (Arham Maulana) - Chrome.lnk
/desktop.ini
/Excel.lnk
/KMPlayer.lnk
/Laragon.lnk
/PowerPoint.lnk
/Ruang Ujian CBT KSM.lnk
/task.md
/Telegram.lnk
/Visual Studio Code.lnk
/Word.lnk
/Zoom Workplace.lnk